@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");




/* El contenedor ocupa toda la pantalla */
body {
    margin: 0;
    height: 100vh;
    /* 100% de la altura de la ventana */
    display: grid;
    /* Activar Grid */
    place-items: center;
    /* Centrar horizontal y verticalmente */
    background-color: darkblue;
}

.Text-Instruccions {
    color: white;
    margin: 20px;
    font-size: 35px;
    font-family: "Nunito Sans";
}

.TextBoto {
    text-decoration: none;
    color: black;
}

/* El div centrado */
.boton {
    background-color: yellowgreen;
    color: black;
    padding: 70px 200px;
    font-size: 30px;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.titulo {
    color: aliceblue;
    font-size: 100px;
    font-family: "vt323";
}

footer {
    height: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    margin: 0px;
    text-align: center;
    background-color: gray;
}